<h1>Edit Inventory</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.inventory_path(@conn, :update, @inventory)) %>

<span><%= link "Back", to: Routes.inventory_path(@conn, :index) %></span>
